body {
    font-family: Arial, sans-serif;
    background-color: #81d8ae;
}
p {
    color: brown;
}

h1 {
    color: #006699;
}

a {
    color: rgb(198, 66, 66);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(120, 58, 58);
}

b {
    writing-mode: vertical-rl;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.buttons a {
    display: inline-flex;
    align-items: center;
    margin: 0 1em;
    padding: 0.5em;
    border-radius: 0.5em;
    background-color: #006699;
    color: white;
    transition: background-color 0.2s ease-in-out;
}

.buttons a:hover {
    background-color: #004466;
}

.buttons img {
    width: 1.5em;
    margin-right: 0.5em;
}

.rainbow {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
      border: 10px solid red;
    }
    25% {
      transform: rotate(90deg);
      border: 10px solid orange;
    }
    50% {
      transform: rotate(180deg);
      border: 10px solid yellow;
    }
    75% {
      transform: rotate(270deg);
      border: 10px solid green;
    }
    100% {
      transform: rotate(360deg);
      border: 10px solid blue;
    }
  }