<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="../static/css/styles.css">
</head>
<body>
    <h1>Welcome to my website!</h1>
    <p>Jeg har et link til <a href="https://orteil.dashnet.org/cookieclicker/">cookie clicker</a>. Tryk på det hvis du vil. Ellers kan du lade være. Her kommer der noget lorem ipsum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent consectetur, magna fermentum malesuada imperdiet, erat enim posuere magna, a condimentum nunc orci a odio. Etiam augue purus, accumsan a leo id, maximus tempus velit. Suspendisse metus augue, maximus eu felis a, condimentum feugiat tellus. Sed ligula odio, imperdiet sit amet posuere at, lacinia vitae turpis. Aenean luctus viverra vulputate. Vestibulum tincidunt varius mauris nec tincidunt. Donec nec efficitur ligula. Donec non est felis. In eget imperdiet tellus. Proin quis malesuada magna. Aenean imperdiet volutpat dui nec dictum. Pellentesque commodo laoreet justo vel tristique. Nullam sed dolor lectus. Mauris eget imperdiet nisl. Nullam sem purus, aliquet a ex id, posuere finibus risus. Curabitur pharetra magna vel dui porta, vitae vulputate tortor pharetra.</p>
    <button onclick="playSound()">Vild musik</button>
    <a href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/home-icon.png') }}" alt="Home">Home</a>
    <a href="{{ url_for('contact') }}"><img src="{{ url_for('static', filename='img/contact-icon.gif') }}" alt="Contact">Contact</a>
    <p>Det er muligt at spille Hunting Simulator på min hjemmeside. Tryk på knappen for at starte.</p>
    <button onclick="openHS()">Start</button>
    <script>
        function playSound(){
            var audio = new Audio('../static/sound/Glorious_morning.mp3');
            audio.play();
        }
        function openHS(){
            window.open('huntingSimulator','popup','width=500,height=500')
        }
    </script>
</body>
</html>
